//variables
$primary-color: rgba(241, 168, 168, 0.89);
$secondary-color: #424040;
$accent-color: #3a3838;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	margin:5% ;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: $primary-color;
	background-color: #3a182e;
}

header {
	background-color: $secondary-color;
	padding: 20px;
	text-align: center;
	filter: drop-shadow( 0 0 10px rgba(7, 3, 3, ));

}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}


nav li {

	margin-right: 0px;
	transition: 0.5s;
	object-fit: cover;

}
li:hover{
	scale: 1.2;
	
}

nav a {
	color: #fff;
	text-decoration:black;
	
}
h1{
	text-align:center;
	color: #fff;
	
	filter: drop-shadow( 0 0 10px rgba( 255, 255, 255, .8));
}

h2{
color: #000000;
text-align: center;
font-weight: 1000;
margin-top: 40px;
filter: drop-shadow( 0 0 10px rgba( 255, 255, 255, .8));
 }

p{
	margin-left: 5%; 
}

.conteiner1 {
	padding: 2px;
	background-color: rgba(83, 64, 64, .8);
	margin-top: 15px;
	
}

.row{
	margin-top: 5%;
}
	
 p{
	margin-right: 40px;
 }
img{
	margin-left: 90px;
	width: 600px;
	height: 400px;
	transition: 0.5s;
	object-fit: cover;
}
img:hover{
	scale: 1.01;
}

footer {
	background-color: $secondary-color;
	padding: 10px;
	text-align: center;
	color: #fff; 
	margin-top: 20px;
	margin-bottom: 0%;
	box-shadow:(0 0 10px rgb(0, 0, 0, .3));

}